[user]
	email = arnar.h.erlingsson@gmail.dk
	name = aerlingsson
[push]
	default = current
[alias]
	tree = log --oneline --decorate --graph --color --all
	ltree = log --oneline --decorate --graph --color
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
